body {
    background-image: url("../images/rock-paper-scissors-hand-gesture-free-vector.jpg");
    background-size: cover;
}

header {
    text-align: center;
    background-color: white;
    opacity: 0.6;
    padding: 20px;
}